.instagram-button button {
    /* background-color: rgb(255, 17, 144) !important; */
    border-radius: 25px !important;
    font-size: medium !important;
    padding: 3px 35px 3px 35px !important;
    text-align: center !important;
    height: 42px !important;
    width: 290px !important;
}

.instagram-button button div div {
    margin-left: 10px;
}