.pinterest-button {
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    background: #e40114;
    border-radius: 25px;
    color: white;
    padding: 9px 1px 9px 1px;
    width: 290px;
    min-width: 200px;
    margin-left: 5px;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 71%;
    align-items: center;
}

.content .txt {
    margin-left: 10px;
    margin-bottom: 2px;
}

.content .pinterest-icon {
    font-size: x-large;

}